@import url(../../styles/globalStyles.css);
.button-blanco {
  width: Hug (159px)px;
  height: Fixed (40px)px;
  background-color: var(--colorOctonario);
  top: 521px;
  color: var(--colorPrimario);
  left: 677px;
  padding: 12px 24px;
  gap: 10px;
  border-radius: 50px;
  opacity: 0px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  transition: all 0.5s ease;
}
  
.button-blanco:hover {
  outline: none;
  color: var(--colorPrimario);
  box-shadow: 1px 1px 20px var(--colorCuaternario);
  border: 1px solid var(--colorOctonario);
}

.button-blanco:focus {
  background-color: rgba(100, 41, 205, 0.1);
  color: var(--colorPrimario);
  background-color: var(--colorOctonario);
  box-shadow: 1px 1px 22px var(--colorCuaternario);
  border: 1px solid var(--colorOctonario);
  outline: none;
}