@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --colorPrimario:#1F0D3F; /*AzulOscuro*/
    --colorSecundario:  #6429CD; /*PurpleHeart*/
    --colorTerciario: #9610FF; /*AzulMagenta*/
    --colorCuaternario: #BB65FF; /**/
    --colorQuinario: #E4A4FF; /**/
    --colorSenario: #BDBDFF; /*lavandaAzul*/
    --colorSeptenario: #000000; /*negro*/
    --colorOctonario: #FFFFFF; /*Blanco*/
    --subTitulo: 32px;
    --letraEstandar: 16px;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  

  